

.age{
    display: inline;
    font-size: 12px
  }
  body{
     width: 960px;
    height: auto;
    padding-top: 20px;
    margin: auto auto;
    background-color: #676791;
      color: #f5f6f7;
    font-family: Tahoma;
      font-size: 16px;
  
  }
  
  .p1{
    font-style: italic;
    text-align: center;
    display: block;
  }
  
  h1{
    margin: auto;
    padding: 10px;
    text-align: center;
    width: 100%;
    display: block;
  
  }
  
  form{
    width: 70vw;
      max-width: 500px;
      min-width: 300px;
      margin: auto auto;
    background-color:  #3f3f50;
    padding-bottom: 2em;
  }
  fieldset:first-of-type{
    margin-top: 20px;
    padding-top: 10px;
  }
  /*
  main{
    background-color: violet;
    padding: 5px;
    position: sticky;
  }
  */
  .inline{
    width: unset;
    margin:0;
    vertical-align: middle;
  }
  
  fieldset{
  Border: 0;
  margin: 10px 20px;
  }
  
  input, textarea {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    color: white;
  }
  
  input,
  textarea,
  select {
    margin: 0;
      width: 100%;
    min-height: 2em;
    padding: 1px;
  }
  /* gave me a hard time */
  .inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
  }
  
  label {
    display: block;
      margin: 0.5rem 0;
  }
  
  
  input[type="submit"]{
    width: 75%;
    height: 6%;
    margin: auto;
    align: center;
    color: black;
    background: green;
    border: 0px;
    padding: 1px;
    font-size: 1.1rem;
    display: block;
  }
  
  
  textarea{
    height: 100px
  }